/*.load :root{
  background-color: black;
}
:root{
  background-color: transparent;
}*/
body{
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
  background-attachment: fixed;
  transition: 2s;
}
:root:hover body{
  background-color: rgb(33, 33, 96);
}
.formDiv{
  background-image: linear-gradient(90deg,transparent, black, transparent);
  color: antiquewhite;
  width: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
hr{
  height: 2px;
  background-image: linear-gradient(90deg, transparent, antiquewhite, transparent);
  border: 0;
}
input{
  background-color:bisque;
}
button{
  background-color: rgb(173, 150, 119);
}